my-node-red/flows.json
[{"id":"9cb913b9.6346f","type":"mqtt-broker","broker":"opensensors.io","port":"1883","clientid":"1341"},{"id":"b39fc174.4c604","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f523591.f0adca8","type":"debug","name":"unfiltered","active":true,"console":"true","complete":"payload","x":774,"y":96,"z":"2b7998c.fd48668","wires":[]},{"id":"14fa99ce.eb0566","type":"serial in","name":"radio","serial":"b39fc174.4c604","x":130,"y":236,"z":"2b7998c.fd48668","wires":[["545eb412.aba14c","f523591.f0adca8"]]},{"id":"24e94f7.fdb16b","type":"debug","name":"alarm","active":true,"console":"false","complete":"payload","x":983,"y":263,"z":"2b7998c.fd48668","wires":[]},{"id":"ffc61742.0039e8","type":"function","name":"parseMessage","func":"\nvar res = msg.payload.split(\"/\");\n\nvar recID = res[0];\nvar recTemp = res[1];\nvar recDist = res[2];\nvar recCRC = res[3].trim();\n\nvar remainder = msg.payload.substring(0, msg.payload.lastIndexOf(\"/\")+1);\n\nvar localCRC = context.global.crc32.calculate(remainder).toString(16);\n\n  if (localCRC != recCRC) {\n    msg.topic = 'resend because '+localCRC;\n    msg.payload = recID;  \n  } else {\n    msg.topic = recID;\n    msg.payload = JSON.stringify({t: recTemp, d: recDist});\n  }\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":397,"z":"2b7998c.fd48668","wires":[["81d82bfc.7e27d8"]]},{"id":"81d82bfc.7e27d8","type":"switch","name":"store?","property":"topic","rules":[{"t":"eq","v":"resend"},{"t":"else"}],"checkall":"false","outputs":2,"x":514,"y":398,"z":"2b7998c.fd48668","wires":[["2e5e5bc2.d1a1a4"],["1869da0a.e79626","86f14d7d.790eb"]]},{"id":"1869da0a.e79626","type":"debug","name":"store","active":true,"console":"false","complete":"payload","x":981,"y":560,"z":"2b7998c.fd48668","wires":[]},{"id":"dee14aa5.211eb8","type":"serial out","name":"radio","serial":"b39fc174.4c604","x":984,"y":354,"z":"2b7998c.fd48668","wires":[]},{"id":"2e5e5bc2.d1a1a4","type":"function","name":"send NAK*","func":"msg.payload = msg.payload+\"*NAK\";\nreturn msg;","outputs":1,"noerr":0,"x":779,"y":355,"z":"2b7998c.fd48668","wires":[["dee14aa5.211eb8","24e94f7.fdb16b"]]},{"id":"6dd90701.9226f8","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"9cb913b9.6346f","x":984,"y":442,"z":"2b7998c.fd48668","wires":[]},{"id":"86f14d7d.790eb","type":"function","name":"composeTopic","func":"msg.topic = \"/users/boris/OccupancyHub/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":427,"z":"2b7998c.fd48668","wires":[["6dd90701.9226f8"]]},{"id":"545eb412.aba14c","type":"switch","name":"validMessage","property":"payload","rules":[{"t":"cont","v":"/"}],"checkall":"true","outputs":1,"x":329,"y":236,"z":"2b7998c.fd48668","wires":[["ffc61742.0039e8"]]}]